<h1>Курсы</h1>

{{#if courses.length}}
  <div class="row">
    {{#each courses}}
      <div class="col s12 m8 l6 xl4">
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="{{title}}">
          </div>
          <div class="card-content">
            <span class="card-title">{{title}}</span>
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action actions">
            <div>
              <a href="/courses/{{id}}">Подробнее</a>
              {{#if @root.isAuth}}
                <a href="/courses/{{id}}/edit?allow=true">Редактировать</a>
              {{/if}}
            </div>
            {{#if @root.isAuth}}
              <form action="/card/add" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                <button type="submit" class="btn btn-primary">Купить</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>Курсы скоро будут добавлены.</p>
{{/if}}
